.box {
    height: 200px;
    width: 600px;
    /* can use regular rgb or rgba for last # to = opacity */
    /* background-color: rgba(138, 43, 226, 0.5); */
    /* FOR GRADIENTS, they are technically images */
    /* going to have multiple overwrite so I can play with it */
    background: linear-gradient(to top left, dodgerblue, blueviolet);
    background: linear-gradient(45deg, dodgerblue, blueviolet);
    background: linear-gradient(45deg, dodgerblue 30%, blueviolet);
    background: linear-gradient(45deg, dodgerblue, blueviolet, tomato);
    background: radial-gradient(circle, black, red);
    background: radial-gradient(circle at bottom right, black, red);
}

/* can represent through colorname, rgb, hexadecimal (0-9, a-f) */
